
/*======================= HEADER ===================================================*/
.contact-at-top {
    
    display: flex;
  align-items: center;
  justify-content: center;
  
}

.top-icon{
	padding: 10px;
}





.nav-item{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.menu-text:hover{
	background-color: #000;
	color: #fff;
}
/*======================= END HEADER ===================================================*/



/* =============================FOOTER=================================================*/
footer{
	background-color: #000;
	color: #fff;
}


/*----------------------------END FOOTER---------------------------------------------------------*/
.cell{
	
	
	display: inline-block; /* if not use makes cell item of different size */
	
	text-align: center;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	

	

}

.category-display-1{
	
 	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(../images/main_display/fruit_basket.jpg);
	
	color: #fff;
	text-transform: uppercase;
	font-weight: bold; 	

}


.category-display-2{
	
 	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),url(../images/main_display/vegetable.jpg);

	color: #fff;
	text-transform: uppercase;
	font-weight: bold;

}

/*============Featured Products =====================================*/

.feature-text h1{
	text-transform: uppercase;
	text-align: center;

}

/* makes card image responsive with equal height */
 .embed-responsive .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 40vh;
}