
/*======================= HEADER ===================================================*/
.contact-at-top  {
    
    display: flex;
  	align-items: center;
  	justify-content: center;
  	
  
}

.contact-at-top, .contact-at-top a{
	color: #0056B3;
	text-decoration: none;
}

.top-icon{
	padding: 10px;
}





.nav-item{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.menu-text:hover{
	background-color: #000;
	color: #fff;
}
/*======================= END HEADER ===================================================*/



/* =============================FOOTER=================================================*/
footer{
	background-color: #000;
	color: #fff;
}

/* Jumbotron ======================================================*/
.jumbotron{
 background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../images/jumbotron/jumbo1.jpg); 
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 text-align: center;
 font-weight: bold;
 color: #fff;
 text-transform: uppercase;

}


/*----------------------------END FOOTER---------------------------------------------------------*/

.cell{
	
	
	display: inline-block; 
	
	text-align: center;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	

	

}


.category-display-1{
	
 	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(../images/main_display/fruit_basket.jpg);
	
	color: #fff;
	text-transform: uppercase;
	font-weight: bold; 	

}


.category-display-2{
	
 	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),url(../images/main_display/vegetable.jpg);

	color: #fff;
	text-transform: uppercase;
	font-weight: bold;

}

/*============Featured Products =====================================*/

.feature-text h1{
	text-transform: uppercase;
	text-align: center;

}

/*¤¤¤¤¤¤¤¤¤ not working ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤ */
/* makes card image responsive with equal height */

/*------------
 .embed-responsive .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 40vh;
}
------------*/
/******************************to make footer down in product detail page and wherever required */

